.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: center;
}
.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: center;
}


